<a href="https://colab.research.google.com/github/Jeon0866/Markdown-Test/blob/master/2%EC%A3%BC%EC%B0%A8%20%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2주차 과제
- 파이썬 문제
- 인공지능 수학 문제


*주의사항

-- 문제에서 제시된 변수에 저장된 값을 __직접__ 변경하는 것은 오답으로 처리됩니다. (__예외도 있으니 문제설명을 자세히 읽어주세요__)

-- 제시된 변수 이외의 변수를 추가해서 문제를 풀어도 됩니다 (__문제 설명에 명시된 변수 변경만 불가합니다.__)

## 파이썬 문제

### 01번 문제 (Data Type)

__다음 변수 a, 변수 b, 변수 c의 자료형을 출력하세요.__

In [0]:
# 주어진 변수(a, b, c) 직접 수정불가
a = 'str'
b = 123
c = True


print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'bool'>

### 02번 문제 (for문)

__다음 변수 num_list에 있는 요소를 모두 더한 값을 for문을 활용하여 변수 answer에 저장하고  그 값을 출력하세요.__

In [0]:
# 주어진 변수(num_list) 직접 수정 불가
# for문을 사용 하지 않은 경우 오답처리
# 풀이 1
num_list = [1,2,3,4,5,6,7,8,9]
answer = 0
for i in num_list:
    answer += i
print(answer)

45

In [0]:
# 주어진 변수(num_list) 직접 수정 불가
# for문을 사용 하지 않은 경우 오답처리
# 풀이 2
num_list = [1,2,3,4,5,6,7,8,9]
answer = 0

# 풀이과정
a = (sum(num_list))
print(a)
print(type(a))
b = (str(a))
print(b)
print(type(b))

print('-'*20)
# 정답
for i in b:
    answer = b
print("정답 :", answer)

45
<class 'int'>
45
<class 'str'>
--------------------
정답 : 45

### 03번 문제 (slice string)

__다음 변수 date를 슬라이스해서 year(년), month(월), day(일)를 각각 출력하세요.__ (출력 : 2020 05 11)

(tip: None을 지우고 date를 슬라이싱해서 각각의 데이터를 저장하세요!)

In [0]:
# 주어진 변수(date)만 직접 수정불가, 다른 year, month, day 변수는 직접 수정가능
# 슬라이스를 사용 안 할 경우 오답처리
date = '20200511'

year = date[:4]
month = date[4:6]
day = date[6:]

print(year, month, day)

2020 05 11

### 04번 문제(for)

__다음 변수 summary에 1 부터 100까지 모두 더한 값을 저장하여 출력하세요.__

In [0]:
# 주어진 변수(summary) 직접 수정불가
summary = 0
for i in range(101):
    summary += i
print(summary)

5050

### 05번 문제(string reverse)

__다음 변수 hangul의 문자열을 거꾸로 출력하세요. (출력:‘사바마라다나가’)__

In [0]:
# 풀이과정 및 정답 2
# 주어진 변수(hangul) 직접 수정불가
hangul = '가나다라마바사'

# 출력
''.join(reversed(hangul))

'사바마라다나가'

In [0]:
# 주어진 변수(hangul) 직접 수정불가
hangul = '가나다라마바사'

# 출력
# 풀이과정 및 정답 1
hangul[::-1]

'사바마라다나가'

### 06번 문제(str -> list -> int 변환)

__다음 변수 num에는 공백으로 구분된 4개의 점수가 들어 있습니다. 평균을 구해서 출력하세요.__

In [0]:
# 주어진 변수(num) 직접 수정불가
num = "70 50 90 70"

# 출력
# 정답
all = list(map(int, num.split()))
print(int(sum(all)/4))

70

In [0]:
# 풀이과정
num_list = num.split()
print(num_list)

print(type(list(map(int, num.split()))))
print(list(map(int, num.split())))

### 07번 문제(if문)

__다음 변수 n에 입력한 값이 짝수 일 경우 ‘짝수’를, 짝수가 아닐 경우 ‘짝수가 아닙니다’를 판별하여 출력하세요.__ (출력: __짝수__ or __짝수가 아닙니다__)

In [0]:
# 주어진 변수(n) 직접 수정불가
n = int(input())

# 출력
if n % 2 == 0:
    print("짝수입니다.")
else:
    print("짝수가 아닙니다.")

10
짝수입니다.

### 08번 문제(산술 연산 및 list index)

__직사각형의 대각선의 길이를 구하는 공식은 밑변의 제곱 + 높이의 제곱 = 대변의 제곱이다.__

__다음 변수 list_08에는 하나의 직사각형의 밑변과 높이가 저장되어 있습니다.__

__각각 밑변이 3이고 높이가 4일 때, 직사각형의 대변의 제곱의 길이를 출력하세요.__

In [0]:
# 주어진 변수(list_08) 직접 수정불가
list_08 = [3, 4] 

# 출력
# 풀이과정
base = list_08[0] # 3
base**2 # 3**2 = 9
squared_base = base**2 
height = list_08[1] # 4
height**2 # 4**2 = 16
squared_height = height**2

# 정답
print(squared_base + squared_height)

25

### 09번 문제(소수 판별 프로그램)
__입력받은 숫자가 소수인지 아닌지 출력하는 프로그램을 작성 해 주세요.__ (출력 : __소수__ or __소수가 아닙니다__)

In [0]:
# 주어진 변수(num_10) 직접 수정불가
# 함수(prime_number) 직접 수정가능
num_10 = int(input('숫자를 입력해주세요'))

def prime_number(n):
    if(n<2):
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

if prime_number(num_10):
    print('소수')
else:
    print('소수가 아닙니다.')

숫자를 입력해주세요1000
소수가 아닙니다.

In [0]:
# 약간 다른 풀이과정과 정답
 
num_10 = int(input('숫자를 입력해주세요'))

def prime_number(n):
    if(n<2):
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

for i in range(num_10+1):
    if(prime_number(i)):
        print(i,": 소수")
    else:
        print(i,": 소수가 아닙니다")

숫자를 입력해주세요50
0 : 소수가 아닙니다
1 : 소수가 아닙니다
2 : 소수
3 : 소수
4 : 소수가 아닙니다
5 : 소수
6 : 소수가 아닙니다
7 : 소수
8 : 소수가 아닙니다
9 : 소수가 아닙니다
10 : 소수가 아닙니다
11 : 소수
12 : 소수가 아닙니다
13 : 소수
14 : 소수가 아닙니다
15 : 소수가 아닙니다
16 : 소수가 아닙니다
17 : 소수
18 : 소수가 아닙니다
19 : 소수
20 : 소수가 아닙니다
21 : 소수가 아닙니다
22 : 소수가 아닙니다
23 : 소수
24 : 소수가 아닙니다
25 : 소수가 아닙니다
26 : 소수가 아닙니다
27 : 소수가 아닙니다
28 : 소수가 아닙니다
29 : 소수
30 : 소수가 아닙니다
31 : 소수
32 : 소수가 아닙니다
33 : 소수가 아닙니다
34 : 소수가 아닙니다
35 : 소수가 아닙니다
36 : 소수가 아닙니다
37 : 소수
38 : 소수가 아닙니다
39 : 소수가 아닙니다
40 : 소수가 아닙니다
41 : 소수
42 : 소수가 아닙니다
43 : 소수
44 : 소수가 아닙니다
45 : 소수가 아닙니다
46 : 소수가 아닙니다
47 : 소수
48 : 소수가 아닙니다
49 : 소수가 아닙니다
50 : 소수가 아닙니다

## 인공지능 수학 문제

### 1번 문제 (Hypothesis)

다음 공식은 Hypothesis를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 H(x)의 값을 구하시오.

*   W = 3
*   x = 10
*   b = 1

# $$h(x) = Wx + b$$

#### 정답 : 31

## 2번 문제 (Cost function)

다음 공식은 Cost를 구하는 공식입니다. 다음과 같이 값이 주어졌을때 cost의 값을 구하세요.

* W = 2
* x = [2, 4, 8]
* y = [5, 12, 21]

(tip: x1=2, y1=5 / x2=4, y2=12 / x3=8, y3=21)

# $$cost(W) =  \frac{1}{n}\sum_{i=1}^n (Wx^{(i)}-y^{(i)})^2$$

#### 정답 : 14

## 3번 문제 (Logistic regression sigmoid function)

다음 공식은 로지스틱 시그모이드 함수입니다. x가 __양의 무한대로__ 갈때 f(x)가 수렴하는 값을 구하세요.

![대체 텍스트](https://prwatech.in/blog/wp-content/uploads/2020/02/logi3.png)

#### 정답 : 1